.foot {
    background-color: #000;
    color: #fff;
    padding: 20px;
    min-height: 12.5vh;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
  }
  
  .content {
    text-align: left;
  }
  
  .content h3 {
    margin: 20px 0 10px 0;
  }
  
  .content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .content li {
    margin-bottom: 0.5rem;
  }
  